// The main layout
extends layout

// The local content
block content
	div.column
		article
			h1 Neue Jobs
			table
				tr
					th Berlin
					th Hamburg
					th Münche
				
				tr
					td Miljöh
					td Kiez
					td Bierdampf
					
				tr
					td Buletten
					td Frikadellen
					td Fleischpflanzer
					

			

block scripts			
	script(src='js/profile.js')
