// The main layout
extends layout

// The local content
block content
	div.column
		article
			article.company
			  h2 Change Password
			  p
			    label.field(for='company') Password
			    input#company(type='text', name='password', style='width: 160px;')
			  p
			    label.field(for='company') Repeat Password
			    input#company(type='text', name='department', style='width: 160px;')



block scripts			
	script(src='js/profile.js')

		