// The main layout
extends layout

// The local content
block content
	div.column
		article
			article.unternehmen
			  h2 Passwort ändern
			  p
			    label.field(for='unternehmen') Passwort
			    input#unternehmen(type='text', name='password', style='width: 160px;')
			  p
			    label.field(for='unternehmen') Pass. wiederholen
			    input#unternehmen(type='text', name='department', style='width: 160px;')



block scripts			
	script(src='js/profile.js')

		