extends layout
block content
	div.column.home
		h1 Hochschule Esslingen
		img(src='http://www.hs-esslingen.de/typo3temp/pics/aa5c63eda1.jpg', style='width:504px;height:358px;')
		h2 Fakultät IT
		a(href='http://www.hs-esslingen.de/de/hochschule/fakultaeten/informationstechnik.html') HS-Esslingen