extends layout


block style
	link(rel='stylesheet', href='css/adminstyle.css' )

//the local content
block content
	div.column
		div#job


block scripts
	script(src="js/adminassist_jobviewer.js")		

