// The main layout
extends layout

// The local content
block content
	article#jobcontrol
	div
		h2 Create New Job Offer
		article#jobeditor
			form(action='/api/job', method='POST', role='form', enctype="multipart/form-data")
			div.jobcreator
				div
					p.required
						label(class='field' for='jobtitle') Job Title
						input#jobtitle(type='text', name='jobtitle', placeholder='Job Title')
					p.required
						label(class='field' for='jobdescription') Job Description
						textarea#jobdescription(type='textarea', rows='20', cols='80', name='jobdescription', placeholder='Job Description')
					p.required
						label(class='field' for='filename') Your file:
						input(type="hidden", name="MAX_FILE_SIZE", value="100000")
						input(type="file" name="file" id="filename" size="40" maxlength="100000")
				div
					p.required
						label(class='field' for='jobbegin') Job Begin
						input#jobbegin(type='text', name='jobbegin', placeholder='begin')
					p.required
						label(class='field' for='jobduration') Job duration
						input#jobduration(type='text', name='jobduration', placeholder='duration')
					p.required
						label(class='field' for='joblocation') Job location
						input#joblocation(type='text', name='joblocation', placeholder='location')
					p
						label(class='field' for='jobtags') Job tags
						input#jobtags(type='text', name='jobtags', placeholder='tags')

					p
						label(class='field')
						button(type='submit', value='create') Submit 

block scripts			
	script(src='js/jobs.js')
