// The main layout
extends layout

block prescripts
	script(src='js/d3.js')
	script(src='js/d3.layout.cloud.js')
// The local content
block content
	div.column
		article#statistics
		h2 Statistics
			article#tagcloud
		

block scripts			
	script(src='js/statistics.js')
