doctype html
html
	head
		link(rel='stylesheet', href='css/viewer.css' )
		title Job Viewer
		meta(charset="UTF-8")
		meta(name="description", content="HTML Template")
		meta(name="keywords", content="HTML,CSS,JavaScript")
		meta(name="author", content="Andreas Roessler, HS Esslingen")
	body
		sections#images
		script(src='js/lib.js')
		script(src='js/realtime.js')
		script(src='js/viewer.js')
